.container {
    max-width: 1200px;
    margin: 0 auto;

}

.footer {
    background-color: #24262B;
    padding: 2px 0;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
}

.footer-links {
    width: 25%;
    padding: 0 15px;
    
}

.footer-links h4 {
    font-size: 20px;
    color: #FFFFFF;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00C3FF;
    padding-bottom: 10px;
    display: inline-block;
}

.footer-links ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #BBBBBB;
    display: block;
    margin-bottom: 15px;
    transition: all .3s ease;
}

.footer-links ul li a:hover {
    color: #FFFFFF;
    padding-left: 6px;
}

.social-link a {
    display: inline-flexbox;
    min-height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    margin: 10px 15px 15px 10px;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #FFFFFF;
    transition: all .5s ease;
}

.social-link a:hover {
    background-color: #00C3FF;
}

@media(max-width:991px) {
    .footer-row{
        text-align: center;
    }
    .footer-links{
        width: 100%;
        margin-bottom: 30px;
    }
}

.tecnologia {
    background-color: rgb(226, 223, 223);
    padding: 10px 0;
}

h5 {
    text-align: center;
}

.logo {
    width: 250px;
    height: 150;
    vertical-align: center;
}

h1 {
    text-align: center;
}

.tecnologia h3 {
    text-align: center;
}
